fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
stripe
pandas>=2.2,<3
pyarrow
openpyxl
requests
python-dotenv
pydantic[email]
pydantic-settings
python-multipart
aiofiles
